<meta charset="utf-8">
<h1>provide your jwt and change password</h1>
<form action="/change_password" method="POST">

<label for="email">email</label>
<input type="text" name="email"required id="email">
<br>

<label for="password">new password</label>
<input type="text" name="new_password"required id="password">
<br>

<label for="jwt">jwt</label>
<input type="text" name="jwt"required id="password">

<br>
<button type="submit">submit</button>

</form>


<a href="/register">register</a>
<br>
<a href="/login">login</a>