<meta charset="utf-8">
<h1>After you log in ,i will provide a jwt</h1>
<form action="/login" method="POST">

<label for="email">email</label>
<input type="text" name="email"required id="email">
<br>

<label for="password">password</label>
<input type="text" name="password"required id="password">

<button type="submit">submit</button>

</form>


<a href="/register">register</a>
<br>
<a href='/change_password'>change password</a>

